    html {
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
    }
    
    body {
        margin: 0
    }
    
    article,
    aside,
    footer,
    header,
    nav,
    section {
        display: block
    }
    
    h1 {
        font-size: 2em;
        margin: .67em 0
    }
    
    figcaption,
    figure,
    main {
        display: block
    }
    
    figure {
        margin: 1em 40px
    }
    
    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible
    }
    
    pre {
        font-family: monospace, monospace;
        font-size: 1em
    }
    
    a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects
    }
    
    abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration: underline dotted
    }
    
    b,
    strong {
        font-weight: inherit
    }
    
    b,
    strong {
        font-weight: bolder
    }
    
    code,
    kbd,
    samp {
        font-family: monospace, monospace;
        font-size: 1em
    }
    
    dfn {
        font-style: italic
    }
    
    mark {
        background-color: #ff0;
        color: #000
    }
    
    small {
        font-size: 80%
    }
    
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
    }
    
    sub {
        bottom: -.25em
    }
    
    sup {
        top: -.5em
    }
    
    audio,
    video {
        display: inline-block
    }
    
    audio:not([controls]) {
        display: none;
        height: 0
    }
    
    img {
        border-style: none
    }
    
    svg:not(:root) {
        overflow: hidden
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.15;
        margin: 0
    }
    
    button,
    input {
        overflow: visible
    }
    
    button,
    select {
        text-transform: none
    }
    
    button,
    html [type=button],
    [type=reset],
    [type=submit] {
        -webkit-appearance: button
    }
    
    button::-moz-focus-inner,
    [type=button]::-moz-focus-inner,
    [type=reset]::-moz-focus-inner,
    [type=submit]::-moz-focus-inner {
        border-style: none;
        padding: 0
    }
    
    button:-moz-focusring,
    [type=button]:-moz-focusring,
    [type=reset]:-moz-focusring,
    [type=submit]:-moz-focusring {
        outline: 1px dotted ButtonText
    }
    
    fieldset {
        padding: .35em .75em .625em
    }
    
    legend {
        box-sizing: border-box;
        color: inherit;
        display: table;
        max-width: 100%;
        padding: 0;
        white-space: normal
    }
    
    progress {
        display: inline-block;
        vertical-align: baseline
    }
    
    textarea {
        overflow: auto
    }
    
    [type=checkbox],
    [type=radio] {
        box-sizing: border-box;
        padding: 0
    }
    
    [type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
        height: auto
    }
    
    [type=search] {
        -webkit-appearance: textfield;
        outline-offset: -2px
    }
    
    [type=search]::-webkit-search-cancel-button,
    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }
    
     ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit
    }
    
    details,
    menu {
        display: block
    }
    
    summary {
        display: list-item
    }
    
    canvas {
        display: inline-block
    }
    
    template {
        display: none
    }
    
    [hidden] {
        display: none
    }
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: '';
        clear: both;
        height: 0;
    }
    
    html {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit
    }
    
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* font-family: 'East Sea Dokdo', cursive;
font-family: 'Roboto', sans-serif; */
    /* setup done */
    /* header */
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        color: #201e21;
    }
    
    header {
        background-image: url(./assets/group-4@2x.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
    }
    
    .wrapper {
        margin: 0 auto;
        max-width: 1200px;
        width: 90%;
    }
    
    h1,
    h2,
    h3,
    .readMore {
        font-family: 'East Sea Dokdo', cursive;
        margin: 0;
        padding: 0;
    }
    
    h2 {
        font-size: 7.5rem;
        line-height: 36px;
        padding-bottom: 20px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
        color: #201e21;
    }
    
    h1 {
        font-size: 12.2rem;
        line-height: 94.3px;
    }
    
    nav {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        letter-spacing: 0.2px;
    }
    
    img {
        width: 100%;
    }
    
    p {
        font-size: 2rem;
        line-height: 29px;
        letter-spacing: 0.2px;
        margin-top: 0;
    }
    
    .topNav ul li {
        float: left;
        margin-right: 40px;
        padding-top: 30px;
    }
    
    .topNav ul {
        position: relative;
    }
    
    .topNav i {
        position: absolute;
        right: 5px;
        top: 5px;
        color: white;
        display: none;
    }
    
    h1 {
        margin-top: 15%;
    }
    /* blog */
    
    .blog {
        background-color: #FFE9E9;
        padding: 70px 0 110px 0;
    }
    
    .blogImgContainer {
        float: left;
        width: calc(30% - 40px);
        margin: 20px 40px 0 0;
    }
    
    .blogTxtContainer {
        width: calc(70% - 40px);
        float: left;
    }
    
    .readMore {
        font-size: 4.5rem;
        line-height: 29px;
        background-color: #0178A5;
        padding: 0 15px;
        color: white;
    }
    /* gallery */
    
    .gallery {
        background-color: #F7DAE8;
        text-align: center;
        padding: 120px 0 180px 0;
    }
    
    .gallery li {
        width: calc((100% / 3) - 40px);
        float: left;
        margin-right: 40px;
    }
    
    .gallery h2 {
        padding-bottom: 60px;
    }
    /* icon nav */
    
    .iconNav {
        background-color: #FFE9E9;
        text-align: center;
        padding: 90px 90px;
    }
    
    .iconNav i {
        font-size: 6rem;
        color: #0178A5;
        width: calc((100% / 3) - 80px);
        margin-right: 40px;
    }
    
    h3 {
        font-size: 5.5rem;
    }
    
    .headings h3 {
        display: inline-block;
        width: calc((100% / 3) - 80px);
        margin-right: 40px;
    }
    /* info section */
    
    .info {
        background-color: #F7DAE8;
    }
    
    .rightTxtContainer,
    .rightImgContainer {
        width: 50%;
        float: right;
    }
    
    .leftTxtContainer,
    .leftImgContainer {
        width: 50%;
        float: left;
    }
    
    .rightTxtContainer,
    .leftTxtContainer {
        padding: 100px 40px 40px 0;
    }
    
    .leftTxtContainer {
        padding-left: 100px;
    }
    
    .info p {
        padding-bottom: 25px;
    }
    
    .info h2 {
        line-height: 50px;
    }
    
    .info .readMore {
        background-color: #A7059B;
    }
    /* bottom Nav */
    
    .navlinks,
    .subscribe {
        float: left;
    }
    
    .subscribe {
        text-align: center;
    }
    
    .bottomNav {
        background-color: #FFE9E9;
        padding: 80px 0;
    }
    
    .navlinks,
    .subscribe,
    .contact {
        width: calc(100% / 3);
    }
    
    .contact {
        float: right;
        text-align: right;
    }
    
    .contact span {
        float: left;
    }
    
    .navlinks li {
        padding: 0 0 10px 0;
    }
    
    .navlinks ul {
        margin-top: 20px;
    }
    
    .contact li {
        padding: 0 0 5px 0;
    }
    
    form {
        width: 100%;
    }
    
    input {
        height: 35px;
        border-style: none;
    }
    
    input[type=text] {
        font-family: 'Roboto', sans-serif;
        width: 75%
    }
    
    input[type=submit] {
        background-color: #0178A5;
        color: white;
        padding: 2px 10px;
        margin-left: -5px;
        font-family: 'East Sea Dokdo', cursive;
        font-size: 2.8rem;
        /* width: 30%; */
    }
    /* footer */
    
    footer {
        background-color: #201E21;
    }
    
    footer p {
        color: white;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 0;
    }
    
    footer a {
        color: white;
    }
    /* media queries */
    /* Portrait tablet and small desktops */
    
    @media (max-width: 1300px) {
        /* about section */
        .rightImgContainer,
        .leftImgContainer,
        .rightTxtContainer,
        .leftTxtContainer {
            float: none;
            width: 100%;
            text-align: center;
        }
        .leftTxtContainer,
        .rightTxtContainer {
            padding: 50px 0;
        }
        .leftTxtContainer {
            padding-left: 0;
        }
    }
    
    @media (max-width: 1080px) {
        .blogImgContainer,
        .blogTxtContainer {
            float: none;
            width: 100%;
            /* margin: 20px 40px 0 0; */
            text-align: center;
        }
        .blogTxtContainer {
            padding-top: 50px;
        }
        .blogTxtContainer p {
            text-align: left;
        }
    }
    
    @media (max-width: 940px) {}
    /* Landscape phone to portrait tablet */
    
    @media (max-width: 768px) {}
    /* Landscape phones and down */
    
    @media (max-width: 480px) {}